In [1]:
from metroscore.metroscore import Metroscore
m = Metroscore(name="Brooklyn, NY", C=2.0)
m.build_drive()
m.build_transit(metro="../data/google_transit.zip", bus="../data/google_transit_manhattan.zip")

Importing walk data...
Importing metro data...

/Users/garunav/Documents/metroscore/.venv/lib/python3.10/site-packages/pyproj/crs/crs.py:141: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)
/Users/garunav/Documents/metroscore/.venv/lib/python3.10/site-packages/pyproj/crs/crs.py:141: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)

metro: 	465 nodes 	2913 edges

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

Importing bus data...

/Users/garunav/Documents/metroscore/.venv/lib/python3.10/site-packages/pyproj/crs/crs.py:141: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)
/Users/garunav/Documents/metroscore/.venv/lib/python3.10/site-packages/pyproj/crs/crs.py:141: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)

bus: 	1455 nodes 	14916 edges

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

In [2]:
from metroscore.utils import start_time_to_seconds

In [3]:
start_times = list(map(start_time_to_seconds, ["7AM", "12PM"]))

In [4]:
results = m.compute(
    locations=[(-73.9964627696242, 40.72953173621136)],
    time_of_days=start_times,
    cutoffs=[600] # 10, 20, 30, 40, 50 minutes
)

ValueError: Cannot set a DataFrame with multiple columns to the single column name

In [ ]:
Metroscore(name="", C=2.0).__dir__()

In [6]:
import geopandas as gpd

In [24]:
gdf = gpd.GeoDataFrame(columns=["index", "cutoffs", "geometry"], geometry="geometry", crs="EPSG:3857").set_index("index")
gdf

Empty GeoDataFrame
Columns: [cutoffs, geometry]
Index: []

In [25]:
gdf["name_2"] = ["apples", "oranges"]

In [26]:
gdf

      cutoffs geometry   name_2
index
0         NaN     None   apples
1         NaN     None  oranges

In [27]:
gdf["name"] = (str("hello") + "_" + gdf["name_2"].astype(str))

In [28]:
gdf

      cutoffs geometry   name_2           name
index
0         NaN     None   apples   hello_apples
1         NaN     None  oranges  hello_oranges